.wrapper, html, body {
    height: 100%;
    margin: 0;
    /* overflow: hidden; */
    color:#B4B4B0;
    font-family: 'Major Mono Display', monospace;
    font-family: 'Roboto', sans-serif;

}

/*  titleBar */


#titleBar {
  color:white;
  font-family: 'Major Mono Display', monospace;
  font-family: 'Roboto', sans-serif;
  display: flex;
  height:50px;
  background-color: #1C2128;
  font-size: 13px;
  letter-spacing: 1px;
}

.navbar-brand {
  font-size: 15px;
}/* titleBar --finish*/


/* main content */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

/* Buttons stle */

.allButtons {
  background-color:#20262E;
  border:none;
  margin-right:30px;
  transition: all 0.3s linear;
}

.allButtons:focus {
  outline:0;
}



.allButtons:hover {
  border-bottom: 1px solid grey;
}/* Buttons stle finish*/


.sideBar {
  display:flex;
  flex-direction: column;
  flex-basis:230px;
}

#Sentences {
  padding-top: 10px;
  background-color: #20262E;
  flex-grow: 0.9;
  border:1px solid #2D333B
}

#validation {
  display:flex;
   flex-direction: row ;
  align-items: center;
  align-content: center;
}



.validationIcon {
  transition: all 0.2s linear;
  margin:20px;
  font-size: 40px;
  color:white;
}

#jsPhoto {
  background-color: #20262E;
  flex-grow: 0.3;
  border:1px solid #2D333B;
  display: flex;
  justify-content: center;
  align-items: center;
}

#photo {
  max-width: 200px;
  max-height: 150px;

}

#row1 {
  background-color: green;
  flex:1;
  display: flex;
  flex-direction: column;
  font-size: 15px;

}
#exerciseAnswer {
  background-color: #20262E;
  flex: 0 0 561px;
  border:1px solid #2D333B;

}
#buttons {
  background-color: #20262E;
  flex: 1 0 ;
  border:1px solid #2D333B;
}

#row2 {
  background-color: green;
  flex:1;
  display: flex;
  flex-direction: column;
}

#seeCompiledCode {
  background-color: #20262E;
  flex: 0 0 400px;
  border:1px solid #2D333B
}

#hints {
  background-color: #20262E;
  flex: 1 0;
  border:1px solid #2D333B;
  padding-top:10px;
}


/* textarea styling */
textarea {
  outline: none;
  resize: none;
  padding-top:10px;
} /* textarea styling--finish */

textarea::-webkit-input-placeholder {

  color:#B4B4B0;
}

/* main content--finish */

/* #wrong {
  color:red;
}

#correct {
  color:green;
} */

#wrong, #correct {
  /* display:none; */
}


/* Media Queries */
@media only screen and (max-width: 736px) {
.wrapper {
    display:block;
  }

  .allButtons{
    margin-right: 10px;
  }
}
